[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
black = "*"
jupyter = "*"
pyinstrument = "*"
pytest = "*"
ipywidgets = "*"

[packages]
synthasizer = {editable = true, path = "."}
pandas = "*"
openpyxl = "*"
textdistance = "*"

[requires]
python_version = "3"

[scripts]
install_kernel = "python -m ipykernel install --user --name synthasizer --display-name \"synthasizer\""

[pipenv]
allow_prereleases = true
